.body {
    width: 1100;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 293px;
}

.header_nav {
}

.header_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list_item {
    justify-self: center;
}

.logo {
    display: flex;
}

.img_logo_text {
    align-self: center;
    position: absolute;
}

.img_logo_square {
    align-self: center;
    position: absolute;
}

.header_contacts {
    display: flex;
    flex-direction: column;
}

.link {
    display: block;
}

.adv {
    position: fixed;
    width: 1100px;
    height: 757px;
    top: 293px;
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 1100px;
    height: 757px;
    top: 293px;
}